<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitstagram" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
       
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />



    <!--Icon made by http://www.freepik.com Freepik-->
        <!--from http://www.flaticon.com Flaticon www.flaticon.com-->
        <!--is licensed under http://creativecommons.org/licenses/by/3.0/ -->
            <!--"Creative Commons BY 3.0 CC BY 3.0-->
    <application
        android:name="app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/yoga13"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fitstagram.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FollowersActivity"
            android:label="@string/title_activity_followers"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fitstagram.MainActivity" />
        </activity>
        <activity android:name=".SingleItemView" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.fitstagram.MainActivity" />

    </activity>
        <activity
            android:name=".ViewThreadActivity"
            android:label="@string/title_activity_view_thread"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fitstagram.MainActivity" />
            >
        </activity>
        <activity
            android:name=".UploadActivity"
            android:label="@string/title_activity_upload" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.fitstagram.MainActivity" />
        </activity>
    </application>

</manifest>
