<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitstagram" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fitstagram.MainActivity" />
        </activity>
        <activity
            android:name=".FollowersActivity"
            android:label="@string/title_activity_followers"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fitstagram.MainActivity" />
        </activity>
        <activity
            android:name=".UploadConfirmActivity"
            android:label="@string/title_activity_upload_confirm"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fitstagram.MainActivity" />
        </activity>
        <activity
            android:name=".ViewThreadActivity"
            android:label="@string/title_activity_view_thread" >
        </activity>
        <uses-sdk android:minSdkVersion="7"  android:targetSdkVersion="18" />

    </application>

</manifest>
